m4
autom4te.cache
configure
aclocal.m4
aminclude_static.am
Makefile.in
configure~
depcomp
install-sh
config.guess
config.sub
missing
test/configure
test/configure~
test/missing
test/aclocal.m4
test/aminclude_static.am
test/install-sh
test/Makefile.in
test/depcomp
src/lib/ares_config.h.in
*Makefile.in